*,
*::before,
*::after,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#overall-wrapper {
	background-color: rgb(220, 105, 105);
	padding: 30px;

	display: flex;
	justify-content: space-around;
}

#form-section {
	background-color: rgb(67, 67, 67);
	width: 40vw;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #2d0808;

	display: flex;
	flex-direction: column;
	padding: 10px;
}

.form-container {
	padding: 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255);
	border: 0;
}

.flex-row-container {
	display: flex;
	flex-direction: row;
}

.flex-column-container {
	display: flex;
	flex-direction: column;
}

.fl-jcsb {
	justify-content: space-between;
}

.flex-centered {
	justify-content: center;
	align-items: center;
}

fieldset div div input {
	width: 10ch;
}

fieldset div div p {
	margin: 0 10px;
}

fieldset legend {
	font-size: 1.5rem;
	font-weight: 700;
}

input,
textarea {
	background-color: rgb(40, 40, 40);
	color: whitesmoke;
	padding: 3px;
	border: 0;
	border-radius: 3px;
}

textarea {
	height: 17ch;
}

#generate-btn {
	width: fit-content;
	align-self: center;
}

#render-section {
	height: fit-content;
	width: 40vw;
	background-color: whitesmoke;
	box-shadow: 0px 0px 10px 0px #2d0808;
	padding: 20px 20px 40px 20px;

	font-family: Arial, Helvetica, sans-serif;
}

#cv-div {
	gap: 20px;
}

#render-section h1 {
	font-size: 1.5rem;
}

#render-section h2 {
	font-size: 1.3rem;
}

.role-heading {
	font-style: italic;
}

#render-section p {
}

.cv-heading {
	border-bottom: 1px solid black;
}

.cv-content {
	margin-top: 3px;
}
