@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(220, 105, 105);
	font-family: "Inter", sans-serif;
}

/* .header-js {
	border-radius: 5px;
	border: 15px solid rgb(88, 88, 88);
	box-shadow: 0px 0px 10px 0px #2d0808;

	background-color: rgb(67, 67, 67);
} */

/* #header-heading {
	font-size: 4rem;
	text-shadow: 2px 3px 8px #000000;
	color: white;
	margin: 10px 0;
	padding: 10px 15px;
	letter-spacing: 5px;
} */

#header-heading {
	font-size: 6rem;
	text-shadow: 2px 3px 8px #000000;
	color: white;
	margin: 5px 0;
	padding: 5px 15px;
	letter-spacing: 10px;
}

#overall-wrapper {
	background-color: rgb(220, 105, 105);
	padding: 30px;

	display: flex;
	justify-content: space-around;
}

#form-section {
	background-color: rgb(67, 67, 67);
	width: 40vw;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #2d0808;

	display: flex;
	flex-direction: column;
	padding: 10px;
}

.form-container {
	padding: 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255);
	border: 0;
}

.flex-row-container {
	display: flex;
	flex-direction: row;
}

.flex-column-container {
	display: flex;
	flex-direction: column;
}

.fl-jcsb {
	justify-content: space-between;
}

.flex-centered {
	justify-content: center;
	align-items: center;
}

fieldset div div input {
	width: 10ch;
}

fieldset div div p {
	margin: 0 10px;
}

fieldset legend {
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

input,
textarea {
	background-color: rgb(40, 40, 40);
	color: whitesmoke;
	padding: 5px 3px;
	border: 0;
	border-radius: 3px;
}

input,
textarea {
	margin-top: 3px;
	margin-bottom: 5px;
}

textarea {
	height: 17ch;
}

#generate-btn {
	width: fit-content;
	align-self: center;
}

#render-section {
	height: fit-content;
	width: 40vw;
	background-color: whitesmoke;
	box-shadow: 0px 0px 10px 0px #2d0808;
	padding: 20px 20px 40px 20px;

	font-family: Arial, Helvetica, sans-serif;
}

#cv-div {
	gap: 20px;
}

#render-section h1 {
	font-size: 1.5rem;
}

#render-section h2 {
	font-size: 1.3rem;
}

.role-heading {
	font-style: italic;
}

#render-section p {
}

.cv-heading {
	border-bottom: 1px solid black;
}

.cv-content {
	margin-top: 7px;
}

.cv-content-2 {
	margin-top: 15px;
}

.add-btn {
	align-self: center;
	cursor: pointer;
	background-color: rgb(29, 86, 207);
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;

	margin-top: 5px;
	padding: 15px 20px;
	width: fit-content;

	border: 0;
	-webkit-box-shadow: 0px 3px 16px 4px rgba(38, 38, 38, 0.44);
	box-shadow: 0px 3px 16px 4px rgba(38, 38, 38, 0.44);
	border-radius: 3px;
}

.del-btn {
	align-self: flex-end;
	cursor: pointer;
	background-color: rgb(207, 32, 32);
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;

	margin-top: 5px;
	padding: 5px 10px;
	width: fit-content;

	border: 0;
	border-radius: 3px;
}

.edit-btn {
	align-self: flex-end;
	cursor: pointer;
	background-color: rgb(207, 114, 32);
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;

	margin-top: 5px;
	padding: 5px 10px;
	width: fit-content;

	border: 0;
	border-radius: 3px;
}

.confirm-btn {
	align-self: center;
	cursor: pointer;
	background-color: rgb(207, 136, 29);
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;

	margin-top: 5px;
	padding: 15px 20px;
	width: fit-content;

	border: 0;
	-webkit-box-shadow: 0px 3px 16px 4px rgba(38, 38, 38, 0.44);
	box-shadow: 0px 3px 16px 4px rgba(38, 38, 38, 0.44);
	border-radius: 3px;
}

.date {
	align-self: flex-end;
}

.white-space {
	white-space: pre-wrap;
}

textarea {
	resize: vertical;
}
